<!DOCTYPE html>
<html>
<head>
    <title>Satellite Image Viewer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
            width: 100%;
            transition: height 0.5s, width 0.5s;
        }

        #download-link {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #fff;
            padding: 10px;
            text-decoration: none;
            color: #000;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <a id="download-link" href="#" download>Download Image</a>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script>
        $(document).ready(function() {
            var map = L.map('map', { animate: true }).setView([0, 0], 2);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);

            map.on('click', function(e) {
                var latitude = e.latlng.lat.toFixed(6);
                var longitude = e.latlng.lng.toFixed(6);
                var URL = 'http://api.openweathermap.org/data/2.5/air_pollution?lat=' + latitude + '&lon=' + longitude + '&appid=YOUR_WEATHERMAP_API_KEY';

                // Fetch the data from the API
                $.get(URL, function(data) {
                    var aqi = data.list[0].main.aqi;
                    var co = data.list[0].components.co;
                    var no = data.list[0].components.no;
                    var no2 = data.list[0].components.no2;
                    var o3 = data.list[0].components.o3;
                    var so2 = data.list[0].components.so2;
                    var pm25 = data.list[0].components.pm2_5;
                    var pm10 = data.list[0].components.pm10;
                    var nh3 = data.list[0].components.nh3;

                    // Send the data to the Flask server
                    $.ajax({
                        url: '/predict',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            'PM2.5': pm25,
                            'PM10': pm10,
                            'NO': no,
                            'NO2': no2,
                            'NH3': nh3,
                            'CO': co,
                            'SO2': so2,
                            'O3': o3
                        }),
                        success: function(response) {
                            console.log('Prediction: ' + response.AQI);
                            var resultURL = 'result.html?aqi=' + response.AQI +
                                '&co=' + co +
                                '&no=' + no +
                                '&no2=' + no2 +
                                '&o3=' + o3 +
                                '&so2=' + so2 +
                                '&pm25=' + pm25 +
                                '&pm10=' + pm10 +
                                '&nh3=' + nh3;
                            window.location.href = resultURL;
                        }
                    });
                });
            });

            // Smooth transition on window resize
            $(window).resize(function() {
                $("#map").height($(window).height());
                map.invalidateSize();
            }).resize();
        });
    </script>
</body>
</html>
